head
 link(rel="stylesheet", href="./style/chess.css")
body
  div.main
   p 棋盤裡，車無輪，馬無韁，叫聲將軍提防提防
   
   div.content
    table(cellspacing="0")
      tr
        td
        td
        td
        td
         .line
        td
         .line.l2
        td
        td
        td
      tr
        td
        td
        td
        td
         .line.l2
        td
         .line
        td
        td
        td
      tr
        td
        td
        td
        td
        td
        td
        td
        td
      tr
        td
        td
        td
        td
        td
        td
        td
        td
      tr
        td(colspan="4").text.tru
        td(colspan="4").text.han
      tr
        td
        td
        td
        td
        td
        td
        td
        td
      tr
        td
        td
        td
        td
        td
        td
        td
        td
      tr
        td
        td
        td
        td
         .line
        td
         .line.l2
        td
        td
        td
      tr
        td
        td
        td
        td
         .line.l2
        td
         .line
        td
        td
        td
    div.chessbar
     .chess 車
     .chess 馬
     .chess 象
     .chess 士
     .chess 將
     .chess 士
     .chess 象
     .chess 馬
     .chess 車
    div.chessbar.b2
     .chess 包
     .chess 包
    div.chessbar.b3
     .chess 卒
     .chess 卒
     .chess 卒
     .chess 卒
     .chess 卒
    div.chessbar.r1 
     .chess 俥
     .chess 傌
     .chess 相
     .chess 仕
     .chess 帥
     .chess 仕
     .chess 相
     .chess 傌
     .chess 俥
    div.chessbar.r2
     .chess 砲
     .chess 砲
    div.chessbar.r3
     .chess 兵
     .chess 兵
     .chess 兵
     .chess 兵
     .chess 兵

   p 圖畫裡，龍不吟，虎不嘯，小小書僮可笑可笑